$base-background: #fff;
$alt-background: #ddd;
$darken-background: #e5e5e5;
$highlight-color: #5187dd;

$scroll-width: 5px;
$scroll-background: #eee;
$scroll-thumb: #aaa;
$scroll-hover: #777;

$base-text: #000;
$alt-text: #fff;

.quicksilver-styles {
  font-family: sans-serif;
  font-size: 14px;

  .input {
    width: calc(100% - 26px);
    margin: 5px;
    padding: 8px;
    padding-bottom: 6px;

    border: none;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    background-color: $alt-background;
    font-size: 14px;
    outline: none;
    transition: border-color 0.1s, border-radius 0.1s;
  }

  .input:focus {
    border-bottom: 2px solid #5187ed;
    border-radius: 5px 5px 0px 0px;
  }

  .disable {
    background-color: $darken-background;
    cursor: default;
  }

  .dropdown-grid {
    user-select: none;

    &.standalone {
      position: relative;
    }

    .content {
      position: absolute;
      display: grid;
      visibility: hidden;
      max-height: 0;

      width: calc(100% - 10px);
      margin-left: 5px;
      margin-top: -20px;
      text-align: center;

      background-color: $base-background;
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
      transition: margin-top 0.15s ease;
      z-index: 1;

      &.unshift {
        margin-left: calc(-50% + 5px);
      }

      &.expand {
        visibility: visible;
        max-height: none;
        margin-top: -5px;
      }

      .highlight {
        background-color: $highlight-color;
        color: $alt-text;
      }

      .no-hover:hover {
        background-color: $base-background;
        cursor: default;
      }

      div {
        padding: 5px 3px;

        &:hover {
          cursor: pointer;
          color: $base-text;
          background-color: $darken-background;
        }
      }
    }

    .date-grid-columns {
      grid-template-columns: repeat(7, auto);
    }

    .time-grid-columns {
      grid-template-columns: repeat(3, auto);

      div {
        padding: 0;
        max-height: 210px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: $scroll-thumb $scroll-background;

        &::-webkit-scrollbar {
          width: $scroll-width;
        }

        &::-webkit-scrollbar-track {
          background-color: $scroll-background;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $scroll-thumb;
          cursor: pointer;

          &:hover {
            background-color: $scroll-hover;
          }
        }
      }

      p {
        padding: 8px 0 8px 0;
        height: 14px;
        margin: 0;
        text-align: center;
      }

      p:hover {
        cursor: pointer;
        color: $base-text;
        background-color: $darken-background;
      }
    }
  }

  .round-top-left {
    border-radius: 10px 0 0 0;
  }

  .round-top-right {
    border-radius: 0 10px 0 0;
  }

  .round-bot-left {
    border-radius: 0 0 0 10px;
  }

  .round-bot-right {
    border-radius: 0 0 10px 0;
  }

  .round-left {
    border-radius: 10px 0 0 10px;
  }

  .round-right {
    border-radius: 0 10px 10px 0;
  }
}
